.title-cards {
  margin-top: 50px;
  margin-bottom: 30px;
}

.title-cards h2 {
  margin-bottom: 8px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  padding-left: 10px;
}

.card_list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 10px;
}

.card_list::-webkit-scrollbar {
  display: none;
}

.card_list .card {
  position: relative;
  flex-shrink: 0;
  width: 240px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 6px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card_list .card:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.card_list img {
  width: 100%;
  border-radius: 6px;
  transition: opacity 0.3s ease;
}

.card_list .card:hover img {
  opacity: 0.3;
}

.card_list .card h4 {
  position: absolute;
  bottom: 15px;
  left: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card_list .card p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: #ddd;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding-top: 5px;
  text-decoration: none;
}

.card_list .card:hover h4,
.card_list .card:hover p {
  opacity: 1;
}

/* Styling for No Poster Image */
.card_list .card img.no-poster {
  filter: grayscale(50%);
  height: 135px;
  object-fit: cover; /* Ensures it fits well without cropping */
  opacity: 0.8;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card_list .card:hover img.no-poster {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.card img.default-poster {
  filter: brightness(1);
  opacity: 0.8;
  height: 8.5em;
}